<!doctype html>
<html>
	<head>
		<title>ComponentGame</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<style>
			canvas {
				cursor: default;
				outline: none;
			}
		</style>
	</head>
	
	<body>
		<div align="center" id="embed-com.component.base.GwtDefinition"></div>
		<script type="text/javascript" src="com.component.base.GwtDefinition/com.component.base.GwtDefinition.nocache.js"></script>
	</body>
	
	<script>
		function handleMouseDown(evt) {
		  evt.preventDefault();
		  evt.stopPropagation();
		  evt.target.style.cursor = 'default';
		}
		
		function handleMouseUp(evt) {
		  evt.preventDefault();
		  evt.stopPropagation();
		  evt.target.style.cursor = '';
		}
		
		document.getElementById('embed-com.component.base.GwtDefinition').addEventListener('mousedown', handleMouseDown, false);
		document.getElementById('embed-com.component.base.GwtDefinition').addEventListener('mouseup', handleMouseUp, false);
	</script>
</html>
